---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
    title="Sobre nosotros"
    description="Información sobre nuestro equipo, mision, vision y valores"
    mainClass="container py-10"
>
    <section class="space-y-6">
        <h1 class="font-heading text-4xl">¿Quienes somos?</h1>
        <p>
            En <strong>Mindbridge EHR</strong>, nos destacamos como un equipo de
            profesionales con amplia experiencia en el desarrollo de software y
            la gestión de proyectos. Nuestra pasión por la tecnología se refleja
            en nuestro compromiso con la calidad y la innovación.
        </p>

        <h3 class="font-heading text-xl">Origen y Objetivo</h3>
        <p>
            Mindbridge surge como respuesta a una necesidad imperante en el
            sector de la salud, donde la tecnología y la innovación son
            esenciales para elevar la calidad de la atención a los pacientes.
            Nuestro propósito es proporcionar un software sencillo, seguro y
            eficiente que permita a los profesionales de la salud enfocarse en
            lo primordial: el paciente.
        </p>

        <h3 class="font-heading text-xl">Misión y Enfoque</h3>
        <p>
            Nuestra misión es
            <strong>transformar la forma de hacer software</strong>
            especializado en la medicina, debido a los altos costos y la complejidad
            de los sistemas actuales. Queremos ofrecer una solución minimalista,
            coherente y fácil de usar que permita a los profesionales de la salud
            mejorar la calidad de la atención sin desgastes innecesarios.
        </p>

        <h3 class="font-heading text-xl">
            Mindbridge EHR: Nuestra Primera Solución
        </h3>
        <p>
            <strong>Mindbridge EHR</strong> representa nuestra primera solución,
            un sistema de registros médicos electrónicos diseñado para que los profesionales
            de la salud gestionen de manera eficaz a sus pacientes, agendas, historias
            clínicas, informes y más, todo de forma integrada y eficiente.
        </p>
        <p>
            Con un enfoque centrado en la simplicidad, la seguridad y la
            eficiencia, en Mindbridge estamos comprometidos a brindar
            herramientas tecnológicas que faciliten la labor diaria de los
            profesionales de la salud mental, permitiéndoles ofrecer una
            atención de calidad de manera óptima y sin complicaciones.
        </p>
    </section>
</MainLayout>
