---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Mindbridge">
    <section class="space-y-6 pb-12 pt-16 lg:py-28">
        <div
            class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
        >
            <a
                href={siteConfig.links.twitter}
                class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
                target="_blank"
            >
                Seguinos en <Icon name="twitter" class="ml-2 size-4" />
            </a>

            <h1
                class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
            >
                Profesionales y pacientes
                <span class="text-gradient_indigo-purple">
                    En un solo lugar
                </span>
            </h1>

            <p
                class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
            >
                Integramos todas las soluciones en una sola plataforma para que
                puedas gestionar tu consultorio de manera eficiente.
            </p>

            <div class="flex justify-center space-x-2 md:space-x-4">
                <a
                    href="https://app.mindbridge.com.ar"
                    class={cn(
                        buttonVariants({ size: "lg" }),
                        "text-xs md:text-base"
                    )}
                >
                    Ir a la plataforma
                </a>
                <a
                    href="/docs/getting-started/"
                    rel="noreferrer"
                    class={cn(
                        buttonVariants({ variant: "outline", size: "lg" }),
                        "px-4 text-xs md:text-base"
                    )}
                >
                    Primeros pasos
                </a>
            </div>
        </div>
    </section>

    <section id="features" class="bg-background-200 py-8 md:py-12 lg:py-24">
        <div class="container space-y-6">
            <div
                class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
            >
                <h2
                    class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl"
                >
                    ¿Qué puedes hacer con Mindbridge?
                </h2>
                <p
                    class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
                >
                    Como profesional de la salud, puedees tener tu propio
                    fichero de pacientes, gestionar turnos, evoluciones diarias,
                    informes y mucho más.
                </p>
            </div>
            <div
                class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
            >
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                d="M16.5 5.5C16.5 7.98528 14.4853 10 12 10C9.51472 10 7.5 7.98528 7.5 5.5C7.5 3.01472 9.51472 1 12 1C14.4853 1 16.5 3.01472 16.5 5.5Z"
                                ></path>
                            <path
                                d="M12 13C6.51068 13 2.0544 17.423 2.00049 22.8995C1.99995 22.9548 2.04477 23 2.1 23H21.9C21.9552 23 22 22.9548 21.9995 22.8995C21.9456 17.423 17.4893 13 12 13Z"
                                ></path>
                        </svg>

                        <div class="space-y-2">
                            <h3 class="font-bold">Fichero digital</h3>
                            <p class="text-sm text-muted-foreground">
                                Podrás administrar la ficha de cada paciente de
                                manera personalizada.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                d="M5.40001 0.25C5.81503 0.25 6.15146 0.586436 6.15146 1.00145V2.53909H17.8485V1.00145C17.8485 0.586436 18.185 0.25 18.6 0.25C19.015 0.25 19.3514 0.586436 19.3514 1.00145V2.53909H21.9981C22.5514 2.53909 23 2.98767 23 3.54102V9.26759L1 9.26759V3.54102C1 2.98767 1.44858 2.53909 2.00193 2.53909H4.64856V1.00145C4.64856 0.586436 4.985 0.25 5.40001 0.25Z"
                                ></path>
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M23 10.7705L1 10.7705V21.9997C1 22.5531 1.44858 23.0017 2.00193 23.0017H21.9981C22.5514 23.0017 23 22.5531 23 21.9997V10.7705ZM15.5192 13.4589C15.8329 13.7307 15.8668 14.2053 15.5949 14.5189L11.6874 19.0276C11.4166 19.34 10.9444 19.3751 10.6305 19.106L8.52644 17.3026C8.21134 17.0325 8.17484 16.5581 8.44493 16.243C8.71502 15.9279 9.18941 15.8914 9.50451 16.1615L11.0411 17.4786L14.4592 13.5346C14.731 13.221 15.2056 13.1871 15.5192 13.4589Z"
                                ></path>
                        </svg>

                        <div class="space-y-2">
                            <h3 class="font-bold">Agenda de citas</h3>
                            <p class="text-sm text-muted-foreground">
                                Organizá las citas de cada paciente de manera
                                individual, sin restricciones.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                d="M4 0.25C4.41421 0.25 4.75 0.585786 4.75 1V3H8.25V1C8.25 0.585786 8.58579 0.25 9 0.25C9.41421 0.25 9.75 0.585786 9.75 1V3H14.25V1C14.25 0.585786 14.5858 0.25 15 0.25C15.4142 0.25 15.75 0.585786 15.75 1V3H19.25V1C19.25 0.585786 19.5858 0.25 20 0.25C20.4142 0.25 20.75 0.585786 20.75 1V3H22C22.5523 3 23 3.44772 23 4V14.15C23 14.2052 22.9552 14.25 22.9 14.25H15.1C14.6306 14.25 14.25 14.6306 14.25 15.1V22.9C14.25 22.9553 14.2052 23 14.15 23H2C1.44772 23 1 22.5523 1 22V4C1 3.44772 1.44772 3 2 3H3.25V1C3.25 0.585786 3.58579 0.25 4 0.25Z"
                                ></path>
                            <path
                                d="M22.9602 15.865C22.9775 15.8057 22.9302 15.75 22.8684 15.75H15.85C15.7948 15.75 15.75 15.7948 15.75 15.85V22.8684C15.75 22.9302 15.8057 22.9775 15.865 22.9603C16.0252 22.9137 16.1728 22.8273 16.2929 22.7071L22.7071 16.2929C22.8272 16.1728 22.9136 16.0253 22.9602 15.865Z"
                                ></path>
                        </svg>
                        <div class="space-y-2">
                            <h3 class="font-bold">Evoluciones diarias</h3>
                            <p class="text-sm text-muted-foreground">
                                Llevá un registro diario de cada paciente,
                                vinculando con citas o sin ellas.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                d="M9.54344 7.1C9.54344 7.04477 9.49867 7 9.44344 7L3.06667 7.00001C2.47756 7.00002 2 7.47758 2 8.06668V21.9333C2 22.5224 2.47756 23 3.06667 23H14.9333C15.5224 23 16 22.5224 16 21.9333L16 13.5C16 13.4448 15.9552 13.4 15.9 13.4H10.4501C9.94937 13.4 9.54344 12.9941 9.54344 12.4933V7.1Z"
                                ></path>
                            <path
                                d="M15.7371 11.8C15.8106 11.8 15.8581 11.7234 15.8169 11.6625C15.7787 11.606 15.7349 11.5529 15.6859 11.5041L11.4742 7.31077C11.4146 7.25147 11.3488 7.19993 11.2783 7.15677C11.2169 7.11927 11.1434 7.16704 11.1434 7.2389V11.8H15.7371Z"
                                ></path>
                            <path
                                d="M9.06667 1.00001L15.4434 1C15.4987 1 15.5434 1.04477 15.5434 1.1V6.49332C15.5434 6.99406 15.9494 7.39999 16.4501 7.39999H21.9C21.9552 7.39999 22 7.44476 22 7.49999V15.9333C22 16.5224 21.5224 17 20.9333 17H17.5V12.26C17.5 11.5773 17.228 10.9228 16.7443 10.4411L12.5325 6.24779C12.0515 5.76887 11.4004 5.5 10.7216 5.5L8 5.50001V2.06668C8 1.47758 8.47756 1.00001 9.06667 1.00001Z"
                                ></path>
                            <path
                                d="M21.6859 5.50412C21.7349 5.55292 21.7787 5.606 21.8169 5.66247C21.8581 5.72341 21.8106 5.79999 21.7371 5.79999H17.1434V1.2389C17.1434 1.16704 17.2169 1.11927 17.2783 1.15677C17.3488 1.19993 17.4146 1.25147 17.4742 1.31077L21.6859 5.50412Z"
                                ></path>
                        </svg>

                        <div class="space-y-2">
                            <h3 class="font-bold">Informes</h3>
                            <p class="text-sm text-muted-foreground mt-3">
                                Generá informes personalizados para cada
                                paciente.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                d="M6 1C5.44772 1 5 1.44772 5 2V6C5 6.55228 5.44772 7 6 7H11.25V11.25H4C3.0335 11.25 2.25 12.0335 2.25 13V19C2.25 19.0479 2.25449 19.0947 2.26307 19.1401C1.5232 19.4335 1 20.1557 1 21C1 22.1046 1.89543 23 3 23C4.10457 23 5 22.1046 5 21C5 20.1557 4.4768 19.4335 3.73693 19.1401C3.74551 19.0947 3.75 19.0479 3.75 19V13C3.75 12.8619 3.86193 12.75 4 12.75H11.25L11.25 19C11.25 19.0479 11.2545 19.0947 11.2631 19.1401C10.5232 19.4335 10 20.1557 10 21C10 22.1046 10.8954 23 12 23C13.1046 23 14 22.1046 14 21C14 20.1557 13.4768 19.4335 12.7369 19.1401C12.7455 19.0947 12.75 19.0479 12.75 19L12.75 12.75H20C20.1381 12.75 20.25 12.8619 20.25 13V19C20.25 19.0479 20.2545 19.0947 20.2631 19.1401C19.5232 19.4335 19 20.1557 19 21C19 22.1046 19.8954 23 21 23C22.1046 23 23 22.1046 23 21C23 20.1557 22.4768 19.4335 21.7369 19.1401C21.7455 19.0947 21.75 19.0479 21.75 19V13C21.75 12.0335 20.9665 11.25 20 11.25H12.75V7H18C18.5523 7 19 6.55228 19 6V2C19 1.44772 18.5523 1 18 1H6Z"
                                ></path>
                        </svg>

                        <div class="space-y-2">
                            <h3 class="font-bold">Circulos de profesionales</h3>
                            <p class="text-sm text-muted-foreground">
                                Compartir evoluciones, informes y agenda nunca
                                fue tan facil.
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="relative overflow-hidden rounded-lg border bg-background p-2"
                >
                    <div
                        class="flex h-[180px] flex-col justify-between rounded-md p-5"
                    >
                        <svg
                            width="50"
                            height="50"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-12 fill-current"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4.75 2.25C4.75 1.2835 5.5335 0.5 6.5 0.5H17.5C18.4665 0.5 19.25 1.2835 19.25 2.25V4.5H22C22.5523 4.5 23 4.94772 23 5.5V17.5C23 18.0523 22.5523 18.5 22 18.5H17.25V21.75C17.25 22.7165 16.4665 23.5 15.5 23.5H8.5C7.5335 23.5 6.75 22.7165 6.75 21.75V18.5H2C1.44772 18.5 1 18.0523 1 17.5V5.5C1 4.94772 1.44772 4.5 2 4.5H4.75V2.25ZM6.25 4.5H17.75V2.25C17.75 2.11193 17.6381 2 17.5 2H6.5C6.36193 2 6.25 2.11193 6.25 2.25V4.5ZM8.25 15V21.75C8.25 21.8881 8.36193 22 8.5 22H15.5C15.6381 22 15.75 21.8881 15.75 21.75V15H8.25ZM4 9.25C4 8.83579 4.33579 8.5 4.75 8.5H7.25C7.66421 8.5 8 8.83579 8 9.25C8 9.66421 7.66421 10 7.25 10H4.75C4.33579 10 4 9.66421 4 9.25Z"
                                ></path>
                        </svg>

                        <div class="space-y-2">
                            <h3 class="font-bold">Recursos</h3>
                            <p class="text-sm text-muted-foreground">
                                Recursos imprimibles para compartir con tus
                                pacientes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center md:max-w-[58rem]">
                <p
                    class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
                >
                    Y mucho más. Descubre todas las funcionalidades que
                    Mindbridge tiene para ofrecerte.
                </p>
            </div>
        </div>
    </section>
    <section id="open-source" class="container py-8 md:py-12 lg:py-28">
        <div
            class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
        >
            <h2
                class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl text-gradient_indigo-purple"
            >
                100% en la nube
            </h2>
            <p
                class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
            >
                Mindbridge es una plataforma <strong>cloud & serverless</strong
                >, lo que significa que puedes acceder a ella desde cualquier
                lugar y en cualquier momento, sin necesidad de instalaciones en
                ningun dispositivo.
            </p>
        </div>
    </section>
</MainLayout>
