---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Nuestros planes" mainClass="flex-1 bg-background-200">
    <section
        class="container flex flex-col gap-6 py-8 md:max-w-[64rem] md:py-12 lg:py-24"
    >
        <div class="mx-auto flex w-full flex-col gap-4 md:max-w-[58rem]">
            <h2
                class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl"
            >
                Precios transparentes, sin sorpresas
            </h2>
            <p
                class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
            >
                Liberá todo el potencial de <strong>Mindbridge</strong> con nuestro
                plan PRO.
            </p>
        </div>
        <!-- Item 1 -->
        <div
            class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
        >
            <div class="grid gap-6">
                <h3 class="text-xl font-bold sm:text-2xl">
                    ¿Que incluye el plan FREE?
                </h3>
                <ul
                    class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2"
                >
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Hasta 10
                        fichas de pacientes
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Hasta 10
                        Evoluciones diarias por paciente
                    </li>

                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" />
                        Soporte tecnico por email
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4 text-center">
                <div>
                    <h4 class="text-7xl font-bold">Gratis</h4>
                    <p class="text-sm font-medium text-muted-foreground">
                        por siempre
                    </p>
                </div>
                <a href="/" class={cn(buttonVariants({ size: "lg" }))}>
                    Registrate gratis
                </a>
            </div>
        </div>
        <!-- Item 2 -->
        <div
            class="grid w-full items-start gap-10 rounded-3xl overflow-hidden border p-10 md:grid-cols-[1fr_200px] bg-background"
        >
            <div class="grid gap-6">
                <h3 class="text-xl font-bold sm:text-2xl">
                    ¿Que incluye el plan PRO?
                </h3>
                <ul
                    class="grid gap-3 text-sm text-muted-foreground sm:grid-cols-2"
                >
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Fichas de
                        pacientes ilimitadas
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Evoluciones
                        diarias ilimitadas
                    </li>

                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Informes
                        personalizados ilimitados
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Publicación
                        de perfil profesional sin costos
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" /> Acceso a
                        la comunidad de profesionales
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" />
                        Soporte prioritario
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" />
                        Acceso a nuevas funcionalidades
                    </li>
                    <li class="flex items-center">
                        <Icon name="lucide:check" class="mr-2 size-4" />
                        Servicio de recordatorios de citas
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4 text-center">
                <div>
                    <h4 class="text-7xl font-bold">$12</h4>
                    <p class="text-sm font-medium text-muted-foreground">
                        por mes
                    </p>
                </div>
                <a href="/" class={cn(buttonVariants({ size: "lg" }))}>
                    Potenciá tu cuenta
                </a>
            </div>
        </div>
        <div class="mx-auto flex w-full max-w-[58rem] flex-col gap-4">
            <p
                class="max-w-[85%] leading-normal text-muted-foreground sm:leading-7"
            >
                Todos nuestros precios estan en dolares americanos, al momento
                de realizar el pago se aplicará el tipo de cambio
                correspondiente a tu moneda local.
            </p>
        </div>
    </section>
</MainLayout>
